.logo {text-align: center;}
.menu img {max-width: 100;}
.menu {text-align: center;}
body {
    font-family: monospace;
  }
body {color: white;}

body {background-color: rgb(44, 59, 75)}
.ome {text-align: center;}
body {font-size: +18;}
